body {
  background-color: #f4f4f4;
}
.header-home h1 {
  font-size: 1.6rem;
  color: #333;
}
.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card {
  background-color: #fc03a1;
  color: white;
  width: 200%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card h4 {
  margin: 0;
  font-size: 1.25rem;
}

.card p {
  color: white;
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
}

.card:hover {
  background-color: #b2006e;
  color: white;
  text-decoration: none;
}
